//- index.pug
extends ../../layouts/layout.pug

block content
    h1 #{.Title}
    table 
        thead
            tr
                th Email
                th Phone Number 
        tbody 
            each user in .Users
                tr
                    td #{.Email}
                    td #{.PhoneNumber}
   
