<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/users">Users</a></li>
  </ol>
</nav>
<div class="card">
  <div class="card-header">{{ .Title }} List</div>
  <div class="card-body"></div>
  <table class="table table table-striped table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Phone Number </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{range .Users}} 
      <tr>
        <td>{{.Email}}</td>
        <td>{{.PhoneNumber}}</td>
        <td>
          <a class="icon-link" href="/users/{{.ID}}">
            <svg class="bi" aria-hidden="true"> <use xlink:href="/public/icons/pencil-square.svg"> </use> </svg>
          </a>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>