#:schema https://json.schemastore.org/any.json

env_files = [".env"]
root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"



[build]
  args_bin = []
  bin = "./tmp/nltst_scheduler"
  cmd = "go build -o ./tmp/nltst_scheduler ."
  delay = 500
  entrypoint = ["./tmp/nltst_scheduler"]
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "public/js"]
  exclude_file = []
  exclude_regex = ["_test.go", "_templ.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  ignore_dangerous_root_dir = false
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "templ", "js"]
  include_file = ["./js/app.js", "./public/css/input.css"]
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = [
    "npx esbuild ./js/app.js --bundle --minify --outfile=public/js/app.js",
    "npx tailwindcss -i ./public/css/input.css -o ./public/css/output.css --minify",
    "go tool templ generate",
    
  ]
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = true

[proxy]
  app_port = 8080
  app_start_timeout = 0
  enabled = true
  proxy_port = 8081

[screen]
  clear_on_rebuild = true
  keep_scroll = true
