package pages

import "github.com/bcrowe306/nltst_scheduler.git/components"

templ Index(comp templ.Component) {
    @components.Shell(){
        @components.Sidebar()
        <main id="content" class="lg:ml-64 p-4 h-full bg-slate-200">
            if comp != nil {
                @comp 
            } 
        </main>
    }
}