package pages

import (
    "github.com/gofiber/fiber/v3"
    "github.com/bcrowe306/nltst_scheduler.git/components"
)


templ SettingsPage(data fiber.Map) {
    @components.Sidebar()
    @components.Breadcrumbs()
    <h1>Settings</h1>
}